<div bsModal #modalCR="bs-modal" (onHidden)="clearForm()" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-primary" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">{{(model_form_control._method.value)=='POST'?'Crear':'Modificar'}} Aplicación</h4>
        <button type="button" class="close" (click)="modal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form [formGroup]="form_model.form" id="creationFormCR" (ngSubmit)='showPreconfirmMessage()'>

        <div class="modal-body">

          <div class="row">

            <div class="col-12">


      




    <h6 class="text-muted">Nombre:</h6>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span
                    [ngClass]="{'text-danger':model_form_control.name.invalid && model_form_control.name.touched, 'text-success':model_form_control.name.valid}"
                    class="input-group-text"><i class="fa fa-signing  "></i></span>
                </div>

                <input type="text" required="" name="name" class="form-control"
                   formControlName='name'>
              </div>



          



            </div>

          </div>

        </div>

      </form>

      <div class="modal-footer">
        <button type="submit" form="creationFormCR" [disabled]="form_model.is_invalid || sendingForm"
          class="btn btn-success float-right">{{(model_form_control._method.value)=='POST'?'Crear':'Modificar'}}</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->