@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

/* CUSTOM STYLES */
.cdk-overlay-container {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 9999999 !important;
}
.cdk-global-overlay-wrapper, .cdk-overlay-container {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 9999999 !important;
}
.pointer{
	cursor: pointer;
}

.custom-radio
{
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.col-image{
	height: 280px !important;
	border-radius: 6px !important;
	padding: 20px !important;
}

.modal-body, .scroll-container{
   overflow-y: auto;
   max-height: 100%;
}


@media only screen and (min-height: 1024px) and (max-height: 1200px){

	.modal-body, .scroll-container{
	   overflow-y: auto;
	   max-height: 800px;
	}

}

@media only screen and (min-height: 900px) and (max-height: 1024px){

	.modal-body, .scroll-container{
	   overflow-y: auto;
	   max-height: 700px;
	}

}

@media only screen and (min-height: 768px) and (max-height: 900px){

	.modal-body, .scroll-container{
	   overflow-y: auto;
	   max-height: 560px;
	}
  

}

@media only screen and (min-height: 600px) and (max-height: 768px){

	.modal-body, .scroll-container{
	   overflow-y: auto;
	   max-height: 400px;
	}

}

@media only screen and (min-height: 600px) and (max-height: 768px){

	.modal-body, .scroll-container{
	   overflow-y: auto;
	   max-height: 400px;
	}

}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,0.5);
}
/**/
.cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
}

/*@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

.cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
    z-index: 9999;
}
*/

.loading-box
{
	position: fixed;
	top: 35%;
	left: 45%;
}

@keyframes ldio-1og9htov31z {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-1og9htov31z div { box-sizing: border-box!important }
.ldio-1og9htov31z > div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: #93dbe9 transparent #93dbe9 transparent;
  animation: ldio-1og9htov31z 1s linear infinite;
}

.ldio-1og9htov31z > div:nth-child(2), .ldio-1og9htov31z > div:nth-child(4) {
  width: 108px;
  height: 108px;
  top: 46px;
  left: 46px;
  animation: ldio-1og9htov31z 1s linear infinite reverse;
}
.ldio-1og9htov31z > div:nth-child(2) {
  border-color: transparent #689cc5 transparent #689cc5
}
.ldio-1og9htov31z > div:nth-child(3) { border-color: transparent }
.ldio-1og9htov31z > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-1og9htov31z > div:nth-child(3) div:before, .ldio-1og9htov31z > div:nth-child(3) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: #93dbe9;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #93dbe9;
}
.ldio-1og9htov31z > div:nth-child(3) div:after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 #93dbe9;
}

.ldio-1og9htov31z > div:nth-child(4) { border-color: transparent; }
.ldio-1og9htov31z > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-1og9htov31z > div:nth-child(4) div:before, .ldio-1og9htov31z > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 30px;
  background: #689cc5;
  border-radius: 50%;
  box-shadow: 0 92px 0 0 #689cc5;
}
.ldio-1og9htov31z > div:nth-child(4) div:after {
  left: -16px;
  top: 30px;
  box-shadow: 92px 0 0 0 #689cc5;
}
.loadingio-spinner-double-ring-bwazrhpf8ei {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  /*background-color: rgba(255,255,255,0.7);*/
}
.ldio-1og9htov31z {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-1og9htov31z div { box-sizing: content-box; }

/*loading spinner ng-select*/
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.lds-ellipsis div {
    position: absolute;
    top: 14px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #c2c2c2;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: -9px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: -10px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 2px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 24px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}
