<h1 class="float-left">
  <i [class]="icon"></i> {{title}} <small>{{subtitle}}</small>
</h1>

<button class="btn btn-sm-block btn-md btn-warning float-right" (click)="back()">
  <i class="fa fa-arrow-left"> Atras</i>
</button>