<div bsModal #modalCR="bs-modal" (onHidden)="clearForm()" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-primary" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">{{(client_form_control._method.value)=='POST'?'Crear':'Modificar'}} Cliente</h4>
        <button type="button" class="close" (click)="modal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form [formGroup]="client_form" id="creationFormCR" (ngSubmit)='showPreconfirmMessage()'>

        <div class="modal-body">

          <div class="row">

            <div class="col-12">


      




    <h6 class="text-muted">Nombre:</h6>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span
                    [ngClass]="{'text-danger':client_form_control.first_name.invalid && client_form_control.first_name.touched, 'text-success':client_form_control.first_name.valid}"
                    class="input-group-text"><i class="fa fa-user"></i></span>
                </div>

                <input type="text" required="" name="first_name" class="form-control"
                   formControlName='first_name'>
              </div>


    <h6 class="text-muted">Apellido:</h6>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span
                    [ngClass]="{'text-danger':client_form_control.last_name.invalid && client_form_control.last_name.touched, 'text-success':client_form_control.last_name.valid}"
                    class="input-group-text"><i class="fa fa-user"></i></span>
                </div>

                <input type="text" required="" name="last_name" class="form-control"
                   formControlName='last_name'>
              </div>


    <h6 class="text-muted">Identificación:</h6>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span
                    [ngClass]="{'text-danger':client_form_control.identification_card.invalid && client_form_control.identification_card.touched, 'text-success':client_form_control.identification_card.valid}"
                    class="input-group-text"><i class="fa fa-id-card"></i></span>
                </div>

                <input type="text" required="" name="last_name" class="form-control"
                   formControlName='identification_card'>
              </div>

  <h6 class="text-muted">Direccion:</h6>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span
                    [ngClass]="{'text-danger':client_form_control.direction.invalid && client_form_control.direction.touched, 'text-success':client_form_control.direction.valid}"
                    class="input-group-text"><i class="fa fa-arrow-circle-o-up"></i></span>
                </div>

                <textarea class="form-control"  formControlName='direction'>
                  
                </textarea>
               
              </div>


<h6 class="text-muted">Telefono de oficina:</h6>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span
                    [ngClass]="{'text-danger':client_form_control.local_telephone.invalid && client_form_control.local_telephone.touched, 'text-success':client_form_control.local_telephone.valid}"
                    class="input-group-text"><i class="fa fa-phone"></i></span>
                </div>

                <input type="text" required="" name="local_telephone" class="form-control"
                   formControlName='local_telephone'>
              </div>



<h6 class="text-muted">Celular:</h6>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span
                    [ngClass]="{'text-danger':client_form_control.phone.invalid && client_form_control.phone.touched, 'text-success':client_form_control.phone.valid}"
                    class="input-group-text"><i class="fa fa-mobile"></i></span>
                </div>

                <input type="text" required="" name="phone" class="form-control"
                   formControlName='phone'>
              </div>

              <!-- dynamic emails-->

<div formArrayName="emails">
 <h6 class="text-muted">Correos:</h6>


  <div *ngFor="let email of emails.controls; let i=index">
    <!-- The repeated alias template -->
    <label for="emails-{{ i }}">Email {{ (i+1)==1?'':i+1 }}:</label>
    <input id="emails-{{ i }}" type="text" class="form-control" [formControlName]="i">
  </div>

  <div class="text-left" >

    <button (click)="addEmails()" type="button" class="btn btn-info white top-2 block-button">+ Añadir</button>

    <button *ngIf="emails.value.length > 1" (click)="removeEmails()" type="button" class="btn btn-info white top-2 block-button">- Eliminar</button>
</div>

</div>              





            </div>

          </div>

        </div>

      </form>

      <div class="modal-footer">
        <button type="submit" form="creationFormCR" [disabled]="is_invalid || sendingForm"
          class="btn btn-success float-right">{{(client_form_control._method.value)=='create'?'POST':'Modificar'}}</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->