<div class="animated fadeIn">

  <div class="card">

    <div class="card-header">

      <detail-header [title]="'Detalles de Cliente'" [subtitle]="client.code" [icon]="'fa fa-cube'">
      </detail-header>

    </div>

    <div class="card-body">

      <div class="row">

        <div class="col-12">
          <h4>Datos:</h4>
        </div>

        <div class="col-6">

          <h6 class="text-muted">Nombre:</h6>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>

            <input type="text" readonly="" class="form-control" [value]="client.full_name">
          </div>

        </div>

        <div class="col-6">

          <h6 class="text-muted">Identificación:</h6>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-id-card"></i></span>
            </div>

            <input type="text" readonly="" value="{{client.identification_card}}" class="form-control">
          </div>

        </div>

        <div class="col-6">

          <h6 class="text-muted">Telefono local:</h6>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-phone"></i></span>
            </div>

            <input type="text" readonly="" value="{{client.local_telephone}}" class="form-control">
          </div>

        </div>

        <div class="col-6">

          <h6 class="text-muted">Movil:</h6>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-mobile"></i> </span>
            </div>

            <input type="text" readonly="" value="{{client.phone}}" class="form-control">
          </div>

        </div>

        <div class="col-12">

          <h6 class="text-muted">Dirección:</h6>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-arrow-circle-o-up"></i></span>
            </div>

            <input type="text" readonly="" value="{{client.direction}}" class="form-control">
          </div>

        </div>

          
          <div class="col-3" *ngFor="let email of emails;let i=index">
            
          <h6 class="text-muted">Correo {{i+1}}:</h6>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-envelope-o"></i> </span>
            </div>

            <input type="text" readonly="" value="{{email}}" class="form-control">
          </div>
          </div>
       
      

        <hr class="p-2">

       

      </div>

    </div>

  </div>

</div>