<ng-snotify></ng-snotify>
<div class="app-body">
  <main style="margin-top: 10%;" class="main d-flex align-items-center">
    <div class="container">
      <div class="row">        
        <div class="col-md-8 mx-auto text-center mb-2 text-muted">
          <h1><i class="fa fa-ticket"></i> Peliculas</h1>
        </div>
        <div class="col-md-8 mx-auto">
          <div class="row">
            <div class="col-md-8 mx-auto">
              <div class="card-group">
                <div class="card p-4 text-white bg-primary">
                  <div class="card-body text-center">
                    <form  #loginForm="ngForm" (ngSubmit)="onSubmit()">
                      <h1>Iniciar Sesion</h1>
                      <br>

                      <div *ngIf='error' [@fadeIn]="fadeIn" class="alert alert-danger">
                        <i class="fa fa-times"></i>&nbsp;&nbsp;{{error}}
                      </div>

                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span [ngClass]="{'text-danger':email.invalid && email.touched, 'text-success':email.valid}" class="input-group-text"><i class="icon-user"></i></span>
                        </div>

                        <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control" placeholder="email" name="email" autocomplete="email" #email='ngModel' [(ngModel)]="form.email" required>
                      </div>

                      <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <span [ngClass]="{'text-danger':password.invalid && password.touched, 'text-success':password.valid}" class="input-group-text"><i class="icon-lock"></i></span>
                        </div>

                        <input type="password" minlength="5" class="form-control" placeholder="contraseña" name="password" autocomplete="current-password" #password='ngModel' [(ngModel)]="form.password" required>

                      </div>

                      <!-- <h6 class="my-2 text-muted">Indique las coordenadas {{coordinatesToCheck}} de su tarjeta de acceso: </h6>

                      <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <span [ngClass]="{'text-danger':coordinates.invalid && coordinates.touched, 'text-success':coordinates.valid}" class="input-group-text"><i class="icon-lock"></i></span>
                        </div>

                        <input [cleave]="{delimiter: '-',blocks: [2, 2, 2]}" type="text" minlength="8" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" maxlength="8" [placeholder]="coordinatesToCheck" name="coordinates" #coordinates='ngModel' [(ngModel)]="form.coordinates" required>

                      </div> -->

                      <div class="row">
                        
                        <div class="col-12">
                          <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary active px-4 float-left">{{submitTextBtn}}</button>
                          
                          <button type="button" routerLink="/request-reset-password" class="btn text-white btn-link px-0 float-right">Olvidaste tu contraseña?</button><br>
                          


                        </div>

                       <div class="col-12">
                          
                          <button type="button" routerLink='/register' class="btn text-white btn-link px-0 float-right">Registrarse ahora</button>
                          


                        </div>


                      </div>
                    </form>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
