<div bsModal #modalAS="bs-modal" (onHidden)="clearForm()" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-primary" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Asignar Turno</h4>
        <button type="button" class="close" (click)="modal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form [formGroup]="form_model.form" id="creationFormAS" (ngSubmit)='showPreconfirmMessage()'>

        <div class="modal-body">

          <div class="row">

            <div class="col-12">


      




      <h6 class="text-muted">Turnos:</h6>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span [ngClass]="{'text-danger':model_form_control.shift_ids.invalid && model_form_control.shift_ids.invalid, 'text-success':model_form_control.shift_ids.invalid}" class="input-group-text"><i class="fa fa-bolt"></i></span>
                </div>
                <ng-select
                  required
                  style="width: 90%;"
                  name="shift_ids"
                  formControlName="shift_ids"
                  [multiple]="true"
                  placeholder="Seleccione Turnos"
                >

             
           <ng-option *ngFor="let shift of shifts" [value]="shift.id">{{shift.shift_hour}}</ng-option>

         

              

                </ng-select>
              </div>




    




            </div>

          </div>

        </div>

      </form>

      <div class="modal-footer">
        <button type="submit" form="creationFormAS" [disabled]="form_model.is_invalid || sendingForm"
          class="btn btn-success float-right">Asignar</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->